.project-page {
	display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.tag-container {
	display: flex;
  justify-content: flex-start;
	align-items: center;
	margin: 0px 0px 20px 0px;
	flex-wrap: wrap;
}