.slider {
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(202, 202, 202);
}

.image {
	width: 1000px;
	height: 600px;
	border-radius: 10px;
}

.left-arrow {
	position: absolute;
	top: 50%;
	left: 32px;
	font-size: 3rem;
	color: #000;
	z-index: 10;
	cursor: pointer;
	user-select: none;
}

.right-arrow {
	position: absolute;
	top: 50%;
	right: 32px;
	font-size: 3rem;
	color: #000;
	z-index: 10;
	cursor: pointer;
	user-select: none;	
}

.arrows:hover {
	fill: green;
}

.slide {
	opacity: 0;
	transition-duration: 0.25s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 0.25s;
	transform: scale(1.08);
}